.new-hire-whiteboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
}

.login-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #77b;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-popup .login-button {
    border: 1px solid black;
    padding: 10px;
}

.login-popup .login-button:hover {
    cursor: pointer;
    color: white;
    border-color: white;
}

.login-popup.hide {
    display: none;
}